<template>
    <b-tabs class="mt-2" content-class="mt-3">
        <b-tab title="Weight products" active>
            <weight-product-list></weight-product-list>
        </b-tab>
        <b-tab title="Volume products">
            <volume-product-list></volume-product-list>
        </b-tab>
    </b-tabs>
</template>

<script>

// import { defineComponent } from '@vue/composition-api'
import VolumeProductList from './VolumeProductList.vue'
import WeightProductList from './WeightProductList.vue'

export default {
    components: {
        'weight-product-list': WeightProductList,
        'volume-product-list': VolumeProductList
    }
}
</script>
