<template>
    <div class="container">
        <div class="row mt-3">
            <label for="product_name" class="col-md-auto col-form-label">Name</label>
            <div class="col">
                <input v-model="name" type="text" class="form-control" id="product_name">
            </div>
        </div>
        <div class="row mt-3">
            <label for="shop" class="col-md-auto col-form-label">Shop</label>
            <div class="col">
                <select class="form-select" aria-label="Default select example" id="shop" v-model="selectedShop"> 
                    <option v-for="shop of shops" v-bind:key="shop.id" :value="shop.id">{{shop.name}}</option>
                </select>
            </div>

            <label for="snapshot" class="col-md-auto col-form-label">Snapshot</label>
            <div class="col">
                <b-form-datepicker id="snapshot"
                    :date-disabled-fn="isDateHasNoSnapshot"
                    :min="minSnapshotDate"
                    :max="maxSnapshotDate"
                    v-model="currentDate">
                </b-form-datepicker>
            </div>
            
            <label for="product_type" class="col-md-auto col-form-label">Type</label>
            <div class="col">
                <select class="form-select" aria-label="Default select example" id="product_type" v-model="selectedProdType"> 
                    <option v-for="prodType of prodTypes" v-bind:key="prodType.id" :value="prodType.id">{{prodType.name.capitalize()}}</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <label for="min_price" class="col-md-auto col-form-label">Price</label>

            <div class="col"> <input type="number" v-model="minPrice" class="form-control" id="min_price"> </div>
            <div class="col-md-auto my-auto"><span>-</span></div>
            <div class="col"> <input type="number" v-model="maxPrice" class="form-control" id="max_price"> </div>


            <label for="min_price_per_liter" class="col-md-auto col-form-label">Price per liter</label>

            <div class="col"> <input type="number" v-model="minPricePer100g" class="form-control" id="min_price_per_liter"> </div>
            <div class="col-md-auto my-auto"><span class="col-md-auto">-</span></div>
            <div class="col"> <input type="number" v-model="maxPricePer100g" class="form-control" id="max_price_per_liter"> </div>
            
        </div>
        <div class="row mt-3">
            <!-- <div class="col"> -->
                <input type="button" v-on:click="fetchProducts" value="Search" class="btn btn-primary btn-block"/>
            <!-- </div> -->
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <b-pagination
                    v-model="currentPage"
                    :total-rows="length"
                    :per-page="itemsPerPage"
                    aria-controls="food_table"
                ></b-pagination>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <b-table id="food_table" striped hover
                    :items="formattedItems"
                    :fields="fields"
                    :current-page="currentPage"
                    :per-page="itemsPerPage"
                    label-sort-asc=""
                    label-sort-desc=""
                    label-sort-clear=""

                >
                    <template #cell(url)="data">
                        <a target="_blank" v-bind:href="data.item.url" v-show="data.item.url">link</a>       
                    </template>
                </b-table>
            </div>
        </div>
        
    </div>
    
</template>

<script>
import * as reps from '../repositories'

// import { defineComponent } from '@vue/composition-api'

function dateToYYYYMMDD(date){
    if(typeof date == "string"){
        return dateFormat(new Date(date), "yyyy-mm-dd");
    }else if(date instanceof Date){
        return dateFormat(date, "yyyy-mm-dd");
    } else if(typeof date == "number"){
        let dateObj = new Date();
        dateObj.setTime(date);
        return dateFormat(date, "yyyy-mm-dd");
    }
    return null;
}

const dateFormat = require('dateformat');

export default {
    components: {
    },

    data(){
        return {
            name: "",
            snapshots: [],
            snapshotDates: new Map(),
            currentDate: null,
            minPrice: null,
            maxPrice: null,
            minPricePer100g: null,
            maxPricePer100g: null,
            currentPage: 1,
            itemsPerPage: 20,
            shops: [],
            selectedShop: 0,
            fields: [
                { key: 'name', sortable: true },
                { key: 'type', sortable: true, formatter: 'productTypeIdToName' },
                { key: 'volume', label: "Volume (L)", sortable: true, formatter: 'mlToL'},
                { key: 'price', sortable: true, formatter: 'pennyToRubles'},
                { key: 'pricePerLiter', label: "Price per liter", sortable: true},
                { key: 'shopName', label: "Shop", sortable: true},
                { key: 'url', sortable: false},
            ],
            selectedProdType: 0,
            prodTypes: [],
            items: []
        };
    },
    mounted(){
        this.shopRepo = reps.getShopRepo();
        this.prodTypeRepo = reps.getProductTypeRepo();
        let snapRepo = reps.getSnapRepo();

        let shopsPromise = this.shopRepo.getList();
        let prodTypesPromise = this.prodTypeRepo.getList();
        let snapsPromise = snapRepo.getList();
        
        let that = this
        Promise.all([shopsPromise, prodTypesPromise, snapsPromise]).then(
            data => {
                // Init shops
                let allShops = [{id:0,name:"All"}].concat(data[0]);
                let sortedShops = allShops.sort((a,b)=> a.name.localeCompare(b.name));
                that.shops = sortedShops;

                // Init product types
                let allTypes = [{id:0, name:"All"}].concat(data[1]);
                that.prodTypes = allTypes.sort((a,b)=> a.name.localeCompare(b.name));

                // Init snapshots
                that.snapshots = data[2];

                let dates = that.snapshots.map(snap => Date.parse(snap.date));
                for(let i=0;i<that.snapshots.length;++i){
                    that.snapshotDates.set(dateToYYYYMMDD(dates[i]), that.snapshots[i]);
                }

                // Init current snapshot date
                let maxDate = Math.max.apply(null,dates);
                that.currentDate = that.snapshots[dates.indexOf(maxDate)].date;
            }
        );
    },
    methods: {
        async fetchProducts(){
            let wpRepo = reps.getVolumeProductRepo();
            let products = await wpRepo.getList(this.buildFilter());
            this.items = products
        },
        buildFilter(){
            let filters = [];
            if(this.name) filters.push(["name", this.name]);
            if(this.selectedShop) filters.push(["shop", this.selectedShop]);
            if(this.currentDate) filters.push(["snapshot", this.snapshotDates.get(dateToYYYYMMDD(this.currentDate)).id]);
            if(this.selectedProdType) filters.push(["type", this.selectedProdType]);
            if(this.minPrice) filters.push(["minPrice", this.minPrice*100]);
            if(this.maxPrice) filters.push(["maxPrice", this.maxPrice*100]);
            if(this.minPricePer100g) filters.push(["minPricePer100g", this.minPricePer100g]);
            if(this.maxPricePer100g) filters.push(["maxPricePer100g", this.maxPricePer100g]);
            return filters;
        },
        isDateHasNoSnapshot(ymd){
            return !this.snapshotDates.has(ymd);
        },
        pennyToRubles(price){return price/100.0;},
        mlToL(volume){
            return volume/1000.0;
        },
        productTypeIdToName(ptId){
            let type = this.prodTypeRepo.getByIdSync(parseInt(ptId));
            return type.name.capitalize();
        },
    },
    computed: {
        minSnapshotDate(){
            if(this.snapshots.length == 0) return null;
            let dates = this.snapshots.map(snap => Date.parse(snap.date));
            let minDate = Math.min.apply(null,dates)
            return (new Date(minDate)).toISOString();
        },
        maxSnapshotDate(){
            if(this.snapshots.length == 0) return null;
            let dates = this.snapshots.map(snap => Date.parse(snap.date));
            let minDate = Math.max.apply(null,dates);
            return (new Date(minDate)).toISOString();
        },
        formattedItems(){
            let data = Object.assign([], this.items);
            for(let item of data){
                item.pricePerLiter = Math.floor(item.price/item.volume*1000)/100;
                item.shopName = this.shops.filter(shop => shop.id == item.shop)[0].name
            }
            return data;
        },
        length(){
            return this.items.length;
        }
    },
}
</script>
